.loader {
  border: 5px solid blueviolet;
  border-bottom-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  animation: loading 1s infinite linear;
  margin: auto;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
