.product-item {
  width: 48.7%;
  min-height: 250px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  margin: 2px;
}

.product-img {
  width: 100%;
  min-height: 75%;
  max-height: 75%;
  margin-bottom: 4px;
  object-fit: cover;
}

.product-item-single {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
}

.product-img-single {
  min-height: 85%;
  max-height: 85%;
  padding-right: 2px;
}

.product-details-container {
  width: 100%;
  min-height: 25%;
  max-height: 25%;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

.vendor-name {
  color: #64748b;
  font-size: 11px;
  font-weight: 400;
  font-family: Montserrat;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  width: 100%;
  margin: 0;
  margin-top: 4px;
}

.product-name {
  color: #001718;
  text-transform: capitalize;
}

.product-price {
  text-transform: none;
  font-weight: 600;
  margin: 0;
}

.product-mrp {
  color: #64748b;
  text-decoration: line-through;
  margin-right: 3px;
  margin-left: 2px;
}

.product-discount {
  color: #7e59e7;
  font-weight: 500;
}

.share-icon {
  position: absolute;
  top: 55%;
  right: 10px;
  background-color: rgba(23, 22, 22, 0.671);
  color: #fff;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  padding: 0;
  cursor: pointer;
}

.share-icon-single {
  top: 72%;
}

@media screen and (min-width: 576px) {
  .product-item {
    width: 32.6%;
    min-height: 350px;
    max-height: 350px;
  }

  .product-img {
    min-height: 80%;
    max-height: 80%;
  }

  .share-icon {
    top: 65%;
    right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .product-item {
    width: 32.9%;
    min-height: 320px;
    max-height: 320px;
  }

  .product-img {
    min-height: 75%;
    max-height: 75%;
  }

  .vendor-name {
    font-size: 14px;
  }

  .product-discount {
    color: #7e59e7;
    font-weight: 500;
  }

  .share-icon {
    top: 55%;
    right: 20px;
    height: 35px;
    width: 35px;
    border-radius: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .product-item {
    width: 24.6%;
    min-height: 350px;
    max-height: 350px;
  }

  .product-img {
    min-height: 80%;
    max-height: 80%;
  }

  .product-details-container {
    min-height: 20%;
    max-height: 20%;
  }
  .share-icon {
    top: 62%;
  }
}
