@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.home-bg-banner {
  background-image: url("https://info.furrl.in/wp-content/uploads/2022/10/AdobeStock_508445505-min.jpeg");
  background-size: cover;
  width: 100vw;
  max-width: 1440px;
  height: 30vh;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home-hunts-banner-heading {
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: montserrat;
  filter: drop-shadow(4px 4px 4px #000);
  margin-bottom: 4%;
}

.products-container {
  padding: 10px;
  padding-top: 5px;
}

.shop-products-title {
  font-weight: 600;
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
}

.products-count {
  font-style: italic;
  color: grey;
  font-weight: normal;
  font-size: 14px;
  margin-left: 5px;
}

.tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 5px;
  overflow-x: auto;
  -webkit-overflow-scrolling: 0px;
}

.tabs-container::-webkit-scrollbar {
  display: none;
}

.tab-item {
  font-family: montserrat;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  border: 1px solid rgb(210, 208, 208);
  border-radius: 15px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin: 0;
  margin-right: 8px;
  min-width: fit-content;
  cursor: pointer;
}

.tab-item-active {
  color: #fff;
  background-color: #7e59e7;
  border: none;
}

.products-ul-container {
  list-style-type: none;
  padding: 4px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 1px;
}

.product-dot {
  border: 3px solid grey;
  border-radius: 4px;
  height: 4px;
  width: 4px;
  align-self: center;
  opacity: 0.4;
  margin-left: 4px;
}

@media screen and (min-width: 1024px) {
  .home-bg-banner {
    height: 65vh;
  }

  .home-hunts-banner-heading {
    font-weight: 600;
    font-size: 50px;
  }

  .tabs-container {
    justify-content: flex-start;
  }

  .shop-products-title {
    font-size: 18px;
  }

  .products-count {
    font-size: 16px;
  }

  .product-dot {
    border: 4px solid grey;
    border-radius: 6px;
    height: 6px;
    width: 6px;
  }

  .tab-item {
    font-size: 14px;
    margin-right: 10px;
  }
}
