@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.home-bg-banner {
  background-image: url("https://cdn.furrl.in/vibes/VibeCard_HomeHunts.jpg");
  background-size: cover;
  width: 100vw;
  height: 27vh;
  max-height: 220px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home-hunts-banner-heading {
  color: #fff;
  font-weight: 400;
  font-style: italic;
  font-size: 26px;
  letter-spacing: 1px;
  font-family: montserrat;
  filter: drop-shadow(4px 4px 4px #000);
  margin-bottom: 10px;
}

.products-container {
  padding: 10px;
  padding-top: 5px;
}

.shop-products-title {
  font-weight: 600;
  font-family: sans-serif;
  display: flex;
}

.products-count {
  font-style: italic;
  color: grey;
  font-weight: normal;
  font-size: 14px;
  margin-left: 5px;
}

.tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 5px;
  overflow-x: auto;
  -webkit-overflow-scrolling: 0px;
}

.tabs-container::-webkit-scrollbar {
  display: none;
}

.tab-item {
  font-family: montserrat;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  border: 1px solid rgb(210, 208, 208);
  border-radius: 15px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin: 0;
  margin-right: 8px;
  min-width: fit-content;
}

.tab-item-active {
  color: #fff;
  background-color: #7e59e7;
  border: none;
}

.products-ul-container {
  list-style-type: none;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.product-dot {
  border: 3px solid grey;
  border-radius: 4px;
  height: 4px;
  width: 4px;
  align-self: center;
  opacity: 0.4;
  margin-left: 4px;
}
