.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  transition: 0.4s;
  z-index: 1;
}

.nav-icons-container {
  position: absolute;
  position: absolute;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-icons {
  margin-top: 5px;
  font-size: 20px;
  margin-left: 15px;
  color: #000;
}
